.game-details {
  color: white;
  font-family: Open Sans, sans-serif;
}

.about {
  color: grey; /* Couleur pour la partie "About" */
  font-weight: bold;
}

.release-date {
  color: grey; /* Couleur pour la partie "Released date" */
  font-weight: bold;
}

.genres {
  color: grey; /* Couleur pour la partie "Genre" */
  font-weight: bold;
}

.platforms {
  color: grey; /* Couleur pour la partie "Platform" */
  font-weight: bold;
}

.developers {
  color: grey; /* Couleur pour la partie "Developer" */
  font-weight: bold;
}

.age {
  color: grey; /* Couleur pour la partie "Age" */
  font-weight: bold;
}

.publishers {
  color: grey; /* Couleur pour la partie "Publisher" */
  font-weight: bold;
}

.image {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.game-details h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: underline #ff4655;
  font-weight: bold;
}

.game-details__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;
}

.game-details__container p {
  display: flex;
  margin-bottom: 20px;
}

.games-like {
  font-weight: bold;
  text-decoration: underline #ff4655;
  font-size: 20px;
}

.games-like__container {
  margin-top: -10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
  gap: 10px;
  overflow: scroll;
  overflow-y: hidden;
  margin-bottom: 60px;
  height: 350px;
  align-items: flex-end; /* Aligne les éléments en bas */
  padding-bottom: 20px; /* Ajoute un espace à droite pour la scrollbar */
}

.games-like-img {
  margin-top: 20px;
  width: 218px;
  height: 282px;
  object-fit: cover;
  border-radius: 15px;
}

.game-like {
  position: relative;
}

.game-name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
}
.game-details span {
  margin-right: 10px;
}

.games-like__container :hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.loading-container {
  position: fixed; /* Position absolue par rapport à la fenêtre */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fond semi-transparent pour l'arrière-plan du chargement */
  z-index: 9999; /* Assurez-vous que le chargement est au-dessus de tout le reste */
}
