.game-details {
  color: white;
  font-family: Open Sans, sans-serif;
  flex-direction: row;
}

.release-date, .genres, .platforms, .developers, .age, .publishers, .about {
  color: grey; 
  font-weight: bold;
}

.about {
  margin-bottom: 20px;
}

.image {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.game-details h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: underline #ff4655;
  font-weight: bold;
}

.game-details__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 40px;
  flex-direction: column;
}

.game-details__container p {
  display: flex;
  margin-bottom: 20px;
  justify-content: right;
}

.games-like {
  font-weight: bold;
  text-decoration: underline #ff4655;
  font-size: 20px;
}

.games-like__container {
  margin-top: -10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap; 
  gap: 10px;
  overflow: scroll;
  overflow-y: hidden;
  margin-bottom: 60px;
  height: 350px;
  align-items: flex-end; 
  padding-bottom: 20px; 
}

.games-like-img {
  margin-top: 20px;
  width: 218px;
  height: 282px;
  object-fit: cover;
  border-radius: 15px;
}

.game-like {
  position: relative;
}

.game-name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
}
.game-details span {
  margin-right: 10px;
}

.games-like__container :hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}

.container {
  padding: var(--space-x-page)!important; 
}

.loading-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
  z-index: 9999; 
}

.games-screenshot {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow: scroll;
  overflow-y: hidden;
  height: 240px;
}

.screenshot {
  border-radius: 15px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

.screenshots-title {
  margin-top: 30px;
  color: grey; 
  font-weight: bold;
}

.games-screenshot :hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}

.description {
  line-height: normal;
}

.screenshots-container {
  margin-bottom: 60px;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container {
  flex: 1;
}

.game-details__container {
  flex: 1;
}

.image {
  width: 100%;
  max-width: 400px; 
  height: auto;
}

.description {
  line-height: normal;
}

.screenshots-container {
  margin-bottom: 60px;
}

.about-container {
  margin-top: 20px; 
  margin-bottom: 40px; 
}

.details-right {
  margin-right: 30px;
}

.image {
  width: 100%;
  height: 100%;
}

video {
  margin-top: 20px;
}

.custom-video {
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
