/* header.css */
header {
  display: flex;
  justify-content: space-between; /* Pour espacer les éléments horizontalement */
  align-items: center; /* Pour centrer verticalement les éléments */
  border-bottom: 2px solid #ff4655 !important;
  margin-bottom: 70px !important;
  padding: 0 150px; /* Marge de 150px de chaque côté */
  height: 80px;
}

.logo-header {
  margin-left: 185px;
  width: 166px;
  height: 40px;
  margin-top: 18px;
}

.userbuttons {
  margin-top: 34px;
  margin-left: 1185px;
}

.button-link {
  margin-left: 20px;
}

ul {
  margin: 0; /* Supprimez la marge par défaut des listes */
  padding: 0; /* Supprimez le rembourrage par défaut des listes */
  list-style-type: none; /* Supprimez les puces de liste */
  display: flex; /* Pour afficher les éléments de la liste en ligne */
}

li {
  display: flex;
  align-items: center; /* Centrez les éléments verticalement */
}

a {
  text-decoration: none;
  color: white;
}

.button-link {
  background-color: #ff4655;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-link:hover {
  background-color: #ff4620;
  animation-duration: 0.3s;
}

.user {
  margin-right: 20px;
  color: #ff4655;
  font-weight: bold;
  font-size: 20px;
}
