.image-home {
  width: 480px;
  height: 120px;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game-image {
  width: 218px;
  height: 282px;
  object-fit: cover;
  border-radius: 15px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

h2 {
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.game {
  position: relative;
}

.game-wrapper {
  position: relative;
}

.game-title {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 5px 10px;
}

.pages {
  display: flex;
  justify-content: space-around;
  background-color: #ff4655;
  border-radius: 5px;
  gap: 10px;
}

.pages a {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.pagination a.active {
  background-color: #ff4655; /* Couleur de fond pour la page active */
  color: #fff; /* Couleur du texte pour la page active */
}

.pagination-container {
  margin-top: 40px;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}

.pagination-container :nth-child(1) {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.pagination-container :nth-child(2) {
  display: flex;
}

.game:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.pagination a:active,
.pagination a:focus {
  outline: none; /* Supprime le contour lorsque le lien est actif ou au focus */
}
