a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif !important;
}

:root {
  --space-x-page: 0 10%;
}

@media only screen and (max-width: 600px) {
  :root {
    --space-x-page: 0 3%;
  }
}